@import "../../../app/variables.scss";

.section {
    background: $main-grey;
    padding: 50px 0;

    h2 {
        color: $white;
        font-size: 1.1rem;
        text-align: center;
        margin-bottom: 40px;
        font-weight: bold;

        span {
            font-weight: normal;
        }
    }
}

.wrapper {
    font-weight: 500;

    div {
        width: 100%;
        padding: 25px 100px;
        color: $black;
        background: $main-yellow;
        box-shadow: 0 10px $shadow-orange;
        margin-bottom: 30px;
        border-radius: 20px;
        line-height: 1.2;
    }
}

.video {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
        width: 830px;
        height: 480px;
        border-radius: 30px;
    }
}