@import "../../../app/variables.scss";

.section {
    background: $main-yellow;
    padding: 60px 0 140px;

    h2 {
        font-size: 1.1rem;
        color: $black;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 75px;
    }
}

.img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;

    img {
        width: 100%;
        height: auto;
    }
}