@import "../../../app/variables.scss";

.section {
    background: $main-yellow;
    padding: 60px 0 130px;
}

.tab {
    padding: 45px 125px 54px;

    h2 {
        font-size: 1.1rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 50px;
    }

    p {
        color: $white;
        margin-bottom: 50px;
        line-height: 117%;
    }

    .img {
        max-width: 870px;
        margin: 0 auto;

        img {
            width: 100%;
            height: auto;
        }
    }
}