@import "../../../app/variables.scss";

.section {
    background: $main-yellow;
    padding: 100px 0;

    @media only screen and (max-width: 767px) {
        padding: 40px 0;
    }
}

.tab {
    padding: 50px 0 0 60px;
    position: relative;
    overflow: hidden;

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        padding: 40px 0 0 40px;
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        padding: 30px 0 0 30px;
    }

    @media only screen and (max-width: 767px) {
        padding: 10px 0 0 10px;
    }
}

.wrapper {
    display: flex;
    align-items: center;

    p {
        color: $white;
        flex-basis: 60%;
        margin-top: 40px;
        padding-bottom: 20px;

        @media only screen and (min-width: 768px) and (max-width: 991px) {
            flex-basis: 55%;
        }

        @media only screen and (max-width: 575px) {
            margin-top: 15px;
            padding-bottom: 0px;
        }
    }
}

.img {
    transform: translate(30px, 40px);
    max-width: 560px;
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        flex-basis: 45%;
        transform: translate(50px, 40px);
    }

    @media only screen and (max-width: 575px) {
        flex-basis: 40%;
        transform: translate(10px, 20px);
        align-items: flex-end;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.semi {
    display: none;
}

.mobile-flex p {
    display: none;
}

.mobile-flex {
    flex-basis: 40%;
}

@media only screen and (max-width: 575px) {
    .wrapper {
        display: block;
    }

    .mobile-flex {
        display: flex;
        align-items: center;

        p {
            display: block;
            flex-basis: 60%;
            margin-top: 10px;
            padding-bottom: 5px;
        }
    }

    .full {
        display: none;
    }

    .semi {
        display: block;
    }
}