$z-downSheet: 1;
$z-upSheet: 2;
$folder-height: 100%;
$z-folder-curtain: 4;

.folder {
    position: relative;
    width: 70%;
    height: 70%;
}

.firstSheet, .secondSheet {
    position: absolute;
    width: 98%;
    top: -35px;
    left: 10px;
}

.secondSheet {
    width: 100%;
    left: 5px;
    top: -40px;
}

.wrapper {
    display:inline-block;
    position: absolute;
    height: $folder-height;
    bottom: 0;
    width: 100%;
    background:rgba(45, 45, 45, 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    margin-top:30px;
    border-radius: 0 20px 20px 20px;
    z-index: $z-folder-curtain;
}
.wrapper:before {
    content:"";
    background:rgba(45, 45, 45, 0.5);
    position:absolute;
    top:-7%;
    left:1px;
    transform:translateY(-30px);
    background:inherit;
    display:inline-block;
    height: 13%;
    width: 20%;
    border-radius:20px 20px 0 0;
    text-align:center;
    line-height:30px;
}

/*for the bevel after the tab*/
.tab {
    position:absolute;
    top:-20px;
    right:80%;
    display:inline-block;
    height:20px;
    width:20px;
    transform:translateX(100%);
    overflow:hidden;
}

.tab:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    box-shadow:0 0 0 100px rgba(45,45,45,0.5);
    border-radius: 0 0 0 100%;
}

.folder-background {
    width: 100%;
    height: $folder-height;
    position: absolute;
    z-index: 1;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}