@import "../../app/variables.scss";

.section {
    background: $main-grey;
    padding: 50px 0;

    h2 {
        margin-bottom: 20px;
    }
}

.text {
    margin-top: 60px;
    
    p {
        color: $white;
        font-size: 0.65rem;
        margin-top: 20px;
        text-indent: $text-indent;

        &:not(:first-child) {
            margin-top: 20px;
        }

        @media only screen and (max-width: 767px) {
            text-indent: $mobile-text-indent;
            font-size: 0.9rem;
        }
    }
}

.empty {
    text-align: center;
    margin-top: 10px;
}
