@import "../../../app/variables.scss";

.section {
    background: $main-yellow;
    margin-bottom: 100px;

    @media only screen and (max-width: 767px) {
        margin-bottom: 30px;
    }

    h3 {
        font-size: 1.1rem;
        text-align: center;
        font-weight: bold;
        margin-top: 60px;
        margin-bottom: 50px;

        @media only screen and (max-width: 575px) {
            margin-bottom: 20px;
            margin-top: 30px;
        }
    }

    p {
        margin-top: 65px;
        color: $white; 
        text-indent: $text-indent;
        line-height: 117%;
        max-width: 955px;
        margin: 65px auto 0;   

        @media only screen and (max-width: 575px) {
            margin-top: 30px;
        }
    }
}

.tab {
    padding: 50px 100px;

    @media only screen and (min-width: 576px) and (max-width: 763px) {
        padding: 25px;
    }

    @media only screen and (max-width: 575px) {
        padding: 25px 20px;
    }
}