@import "../../../app/variables.scss";

.section {
    background: $main-yellow;
    margin-bottom: 100px;

    h2, h3 {
        font-size: 1.1rem;
        text-align: center;
    }

    h3 {
        margin-top: 60px;
        margin-bottom: 50px;
    }

    p {
       margin-top: 65px;
       color: $white; 
       text-indent: $text-indent;
    }
}

.tab {
    padding: 50px 100px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 50px;
}

.image-container {
    background: $main-yellow;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 10px $shadow-orange;
}