@import "../../app/variables.scss";

.section {
    padding: 60px 0;
    background: $main-yellow;

    h2, .empty {
        text-align: center;
        color: $black;
    }

    h2 {
        margin-bottom: 40px;
        font-size: 1.1rem;
        text-transform: uppercase;
    }
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
} 

.slider {
    height: auto;
    width: 100%;
}

.modal-slider {
    z-index: 99999;
    max-height: 100%;
    max-width: 700px;
}

.gird-item {
    padding: 10px;
    border: 1px solid #ccc;
}

.review-specified {
    margin-left: auto!important;
    margin-right: auto!important;
    width: 100%!important;
}