@import "../../app/variables.scss";

.section {
    padding: 60px 0;
    background: $main-yellow;

    .empty {
        text-align: center;
        color: $black;
    }

    h2 {
        margin-bottom: 40px;
        color: $black;
    }
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
} 

.slider {
    width: 100%;
    height: auto;
}

.modal-slider {
    z-index: 99999;
    // max-width: 900px!important;
    // width: 90%!important;
    width: 100%;
    // margin: 0 auto;
}


.review-specified {
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    @media only screen and (max-width: 575px) {
        width: 95%;
    }
}

.gird-item {
    padding: 10px;
    border: 1px solid #ccc;
}

.slider-desktop {
    @media only screen and (max-width: 575px) {
        display: none;
    }
}