@import "../../../app/variables.scss";

.container {
    min-height: 100vh;
    background: $main-yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}