@import "../../app/variables.scss";

.section {
    width: 100%;
    height: auto;
    box-sizing: content-box;
    padding: 3% 0;
    background: $main-yellow;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (orientation: portrait) {
        min-height: auto;
        padding: 5% 0;
    }

}

.wrapper {
    min-width: 100%;
    height: auto;
    margin-bottom: 10px;

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        height: 550px;
    }

    @media only screen and (min-width: 576px) and (max-width: 765px) {
        height: 450px;
    }

    @media only screen and (min-width: 471px) and (max-width: 575px) {
        height: 300px;
    }

    @media only screen and (max-width: 470px) {
        height: 250px;
    }
}

.content {
    min-width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
    -khtml-background-size: 100%;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;

    h1 {
        color: $white;
        font-size: 2.6rem;
        text-align: center;
        line-height: 1.2;
        margin-top: 300px;
        padding: 0 15px;

        @media only screen and (min-width: 768px) and (max-width: 991px) {
            margin-top: 200px;
        }

        @media only screen and (min-width: 576px) and (max-width: 765px) {
            margin-top: 150px;
        }

        @media only screen and (min-width: 576px) and (max-width: 620px) {
            font-size: 2.3rem;
        }

        @media only screen and (max-width: 575px) {
            margin-top: 70px;
            font-size: 2.2rem;
        }

        @media only screen and (max-width: 480px) {
            font-size: 2rem;
            // margin-top: 50px;
        }

        @media only screen and (max-width: 413px) {
            font-size: 1.7rem;
        }

        @media only screen and (max-width: 391px) {
            font-size: 1.5rem;
        }

        @media only screen and (max-width: 356px) {
            font-size: 1.4rem;
        }

        &.big {
            font-size: 3rem;

            @media only screen and (max-width: 1036px) {
                font-size: 2.5rem;
            }

            @media only screen and (max-width: 514px) {
                font-size: 1.9rem;
            }

            @media only screen and (max-width: 413px) {
                font-size: 1.5rem;
            }
        }
        
        span {
            color: $main-yellow;
            font-family: var(--font-berlin-bold);
        }
    }
}

.star {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    width: 15%;
    padding: 7.5% 0;
    bottom: 4%;
    right: 5%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    h4 {
        font-size: 0.9em;
        color: #000;
        transform: rotate(7.157deg);
        font-weight: bolder;
        text-transform: uppercase;

        @media only screen and (max-width: 767px) {
            font-size: 0.5em;
        }
    }

    // @media only screen and (max-width: 1199px) {
    //     display: none;
    // }
}


.button {
    align-self: flex-end;
    margin: 90px auto 100px;
    width: 520px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    font-size: 1.1rem!important;
    font-weight: bold;

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        width: 400px;
        height: 50px;
    }

    @media only screen and (min-width: 576px) and (max-width: 765px) {
        width: 300px;
        height: 40px;
        margin-top: 25%;
    }

    @media only screen and (min-width: 471px) and (max-width: 575px) {
        width: 250px;
        height: 40px;
        margin-top: 20%;
        box-shadow: 0 4px $shadow-orange!important;
        border-radius: 9px!important;
    }

    @media only screen and (max-width: 470px) {
        width: 180px;
        height: 25px;
        // margin-top: 25%;
        box-shadow: 0 4px $shadow-orange!important;
        border-radius: 8px!important;
        font-size: 1rem!important;
        margin-top: 15%;
    }

    &.big {
        @media only screen and (max-width: 470px) {
            // font-size: 0.8rem!important;
            font-size: 0.9rem!important;
        }
    }

    a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: $black;
    }
}
