@import "../../../../app/variables.scss";

.container {

    input {
        display: none;
    }

    label {
        border: 2px dashed $black;
        padding: 5px;
        cursor: pointer;
        transition: .2s all ease-out;

        &:hover {
            background: rgba(0, 0, 0, 0.3);
            color: $white;
        }
    }
}