@import "../../../app/variables.scss";

.slider {
    max-width: 900px;
    margin: 0 auto;

    img {
        cursor: pointer;
        // width: 100%;
        height: auto;
    }
}

.img-container {
    position: relative;
    
    svg {
        font-size: 1.2em;
        color: $black;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 999;
        transition: 0.2s all ease;

        &:hover {
            font-size: 1.3em;
            color: $main-yellow;
        }
    }
}

.img {
    cursor: pointer;
}

.full-img {
    width: 100%;
    height: auto;
}
