@import "variables.scss";
@import "./styles/slick-theme";
@import "./styles/slick";

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

// COMMON

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: $main-yellow;
  scroll-behavior: smooth;
  font-size: 30px;
  font-weight: 600;
  background: $main-yellow;

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    font-size: 26px;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 20px;
  }

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    font-size: 16px;
  }

  @media only screen and (max-width: 575px) {
    font-size: 14px;
  }
}

.no-scroll {
  position: fixed!important;
  overflow: hidden!important;
  width: 100%;
  min-height: 100vh;
}

.fast-scroll {
  scroll-behavior: unset;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100%;

  @media (max-width: 1320px) {
    width: 100%;
  }
}

.helper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

// HEADER & FOOTER

header, footer {
  box-sizing: content-box;
  min-width: 100%;
  background: $main-grey;
  color: $main-yellow;
  padding: 1% 0;

  @media only screen and (max-width: 767px) {
    padding: 15px 0;
  }

  .container {
    height: 100%;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
  }

  .logo {
    text-align: center;
    align-self: center;
    width: 10rem;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
  
  .burger {
    text-align: right;
  }
}

footer .wrapper {
  @media only screen and (max-width: 1199px) {
    width: 50%;
    margin-left: auto;
  }

  .logo {
    @media only screen and (max-width: 1199px) {
      transform: translateX(-50%);
    }
  }

}

header.without-burger {
  .wrapper {
    width: 50%;

    // @media only screen and (max-width: 1199px) {
    //   margin-left: 0;
    //   width: 100%;
    //   justify-content: center;
    // }

    .logo {
      transform: translateX(50%);

      // @media only screen and (max-width: 1199px) {
      //   transform: none;
      // }
    }
  }
}

.footer .container {
  max-width: 1500px;
}

header {
  position: relative;
  z-index: $over-menu;
}

footer {
  box-shadow: 0 -27px 30px 0 rgba(0, 0, 0, 0.25);
  flex: 0 0 auto;

  .footer-social {
    @media only screen and (max-width: 1199px) {
      display: none;
    }
  }
}

// BURGER MENU

.menu {
  width: 400px;
  height: 100vh;
  position: fixed;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .4);
  transform: translateX(100%);
  transition: 0.5s all ease;
  z-index: 3;

  &.active {
    transform: translateX(0);
  }

  @media only screen and (max-width: 575px) {
    width: 100%;
  }
}

// BURGER BUTTON

.burger-wrapper {
  position: relative;
  flex: 0 1 32%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.burger-container {
  height: $bar-height + $bar-spacing*2;
  width: $bar-width;
  cursor: pointer;
}

.burger,
.burger:after,
.burger:before {
  width: $bar-width;
	height: $bar-height;
  outline: none;
  margin-left: auto;

  @media only screen and (max-width: 1199px) {
    width: 35px;
    height: 4px;
  }

  @media only screen and (max-width: 575px) {
    width: $bar-width;
    height: $bar-height;
  }
}

.burger {
	position: relative;
	transform: translateY($bar-spacing);
	background: $main-yellow;
	transition: all 0ms 300ms;
  cursor: pointer;
  z-index: $over-menu;
  
  &.animated {
    background: rgba(255, 255, 255, 0);
  }
}

.burger:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: $bar-spacing;
	background: $main-yellow;
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger:after {
	content: "";
	position: absolute;
	left: 0;
	top: $bar-spacing;
	background: $main-yellow;
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger.animated:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.burger.animated:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

// OTHER

.main-title {
  color: $white;
  letter-spacing: 1.5%;
}

.highlighted {
  color: $main-yellow;
}

.up-btn {
  max-width: 5rem;
  // height: 60px;
  cursor: pointer;
  margin-left: auto;
  object-fit: cover;

  img {
    width: 100%;
    height: auto;
  }

}

.flag-dropdown {
  display: none;
}

.phone-input {
  height: 80px;
  width: 450px;
  border-radius: 25px;
  padding: 0 20px;
  font-size: 1.1rem;
  text-align: center;

  &::placeholder {
    font-size: 1.1rem;
    color: $placeholder-grey;
    text-align: center;
  }
}

.carousel-dots {
  position: absolute;
  bottom: -40px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      
      &::before {
        opacity: 0.25;
        color: $main-yellow;
        font-family: 'slick';
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        font-size: 10px;
      }
    }

    &.slick-active {
      button::before {
        opacity: 0.75;
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .carousel-dots li {
    width: 30px;
    height: 30px;

    button {
      width: 30px;
      height: 30px;
      padding: 10px;

      &::before {
        line-height: 30px;
        width: 30px;
        height: 30px;
        // font-size: 15px;
      }
    }
  }
}

.slick-prev {
  left: -60px!important;
}

.form-section {
  padding-top: 100px;

  @media only screen and (max-width: 767px) {
    padding-top: 40px;
  }
}

.gather-section {
  background: $main-yellow;
  padding: 100px 0;

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    padding: 40px 0;
  }

  @media only screen and (max-width: 575px) {
    padding: 20px 0;
  }
}

img {
  pointer-events: none;
}

main {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.slick-arrow.slick-next:before {
  content: ""!important;
}

.slick-arrow.slick-prev:before {
  content: ""!important;
}

.social-before-footer {
  background: $main-grey;
  width: 100%;
  padding-bottom: 100px;

  .container {
    display: flex;
    justify-content: center;
  }
}

.subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;

  @media only screen and (max-width: 767px) {
    font-size: 1.4rem;
  }

  @media only screen and (max-width: 991px) {
    font-size: 1.2rem;
  }
}

// LOADER

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .loader-img {
      animation: spin 3s linear infinite;
      -webkit-animation: spin 3s linear infinite;
      display: inline-block;

      img {
          width: 100%;
          height: auto;
      }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { 
      transform: rotate(0deg); 
  }
  100% { 
      transform: rotate(360deg); 
  }
}

// LOADING PAGE

.loading-page-container {
  min-height: 100%;
  width: 100vw;
  flex: 1;
  background: $main-yellow;

  display: flex;
  justify-content: center;
  align-items: center;

  .loader-container {
    width: 100%;
    height: 100%;

    .loader-img {
      width: 250px;
      height: 250px;
    }
  }
}

.admin-btn {
  border: 2px solid black!important;
  padding: 20px 40px;
  box-shadow: none!important;
  margin: 20px 0;
  cursor: pointer;
  transition: 0.3s all ease;

  &:hover {
    background: $black;
    color: $main-yellow;
    border: 2px solid $main-yellow;
  }
}

.flex-header {
  flex-direction: column;
}

.admin-panel-header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: $main-grey;
  border-bottom: 1px solid $white;
  border-top: 1px solid $white;
  
  a {
    text-decoration: none;
    color: $white;
  }
}

.full-height-container {
  background: $main-yellow;
  min-height: 100%;
  color: $black;
  padding: 30px 0;
  padding: 20px;

  h1 {
    text-align: center;
  }
}