@import "../../../app/variables.scss";

$px: 4px;

.section {
    position: relative;
}

.header {
    background: $main-yellow;
    width: 100%;
    padding: 50px 0 30px;

    h2 {
        color: $black;
    }
}

.main {
    background: $main-grey;
    width: 100%;
    overflow: hidden;
}

.ellipse {
    border-radius: 50%;
    background: $white;
    box-shadow: 0 7px $shadow-grey;
    position: absolute;

    &.small {
        width: 2%;
        padding-top: 2%;
        bottom: 40%;
        left: 40%;
    }

    &.medium {
        width: 4%;
        padding-top: 4%;
        left: 45%;
        bottom: 50%;
    }

    &.big {
        width: 6%;
        padding-top: 6%;
        bottom: 70%;
        left: 47%;

        @media only screen and (min-width: 576px) and (max-width: 767px) {
            left: 50%;
        }


        @media only screen and (max-width: 575px) {
            left: 51%;
        }
    }
}

.img {
    max-width: 100%;
    object-fit: cover;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-30%);
    display: flex;
    align-items: flex-end;


    img {
        width: 40%;
        height: auto;
    }
}

.comment-wrapper {
    margin: 50px auto;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 767px) {
        min-width: 100%;
        margin: 0 0 50px 0;
    }
}

.comment {
    position: relative;
    padding: 45px 100px 0;
    background: #FFFFFF;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    max-width: 1020px;
    box-shadow: 0 5px $shadow-grey;

    @media only screen and (max-width: 1199px) {
        padding: 35px 60px 0;
        max-width: 80%;
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        padding: 30px 40px 0;
    }

    @media only screen and (min-width: 576px) and (max-width: 767px) {
        padding: 20px 30px 0;
    }

    @media only screen and (max-width: 575px) {
        padding: 10px 20px 0;
        min-width: 100%;
    }
    
    p {
        color: $black;
        font-size: 0.6rem;
        margin-bottom: 20px;
        line-height: 1.4;

        &:last-child {
            margin-bottom: 50px;

            @media only screen and (min-width: 768px) and (max-width: 991px) {
                margin-bottom: 30px;
            }

            @media only screen and (min-width: 576px) and (max-width: 767px) {
                margin-bottom: 20px;
            }

            @media only screen and (max-width: 575px) {
                margin-bottom: 20px;
            }
        }

        @media only screen and (max-width: 991px) {
            font-size: 0.8rem;
        }

        @media only screen and (max-width: 767px) {
            font-size: 1rem;
        }
    }

    &::after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 50px 50px 0;
        border-color: #FFFFFF transparent;
        display: block;
        width: 0;
        z-index: 1;
        bottom: -45px;
        left: 70%;

        @media only screen and (max-width: 575px) {
            left: 65%;
        }

        @media only screen and (max-width: 390px) {
            left: 60%;
        }
    }
}

.yellow {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background: $main-yellow;
    height: 250px;
    z-index: 0;

    @media only screen and (min-width: 767px) {
        display: none;
    }
}