@import "../../../app/variables.scss";

.input {
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 5px 15px;
    color: $black;
    font-size: 1rem;
    height: 50px;
    width: 200px;
}