@import "../../app/variables.scss";

.section {
    width: 100%;
    padding: 70px 0;
    background: $main-yellow;

    ul {
        $z-over-img: 2;
        margin: 0 auto;
        list-style: none;
        width: 100%;

        a, .wrapper {
            text-decoration: none;
            color: $main-yellow;
            box-shadow: 0 15 0 0 #000;

            li {
                display: block;
                width: 100%;
                height: 235px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 60px;
                cursor: pointer;
    
                img {
                    position: absolute;
                }

                h1 {
                    position: relative;
                    z-index: $z-over-img;
                    text-align: center;
                    font-size: 1.5rem;
                }
            }
            
        }
    }
}

.modal-list {
    $z-over-img: 2;
    margin: 0 auto;
    list-style: none;
    width: 100%;

    a, .wrapper {
        text-decoration: none;
        color: $main-yellow;
        box-shadow: 0 15 0 0 #000;

        li {
            display: block;
            width: 100%;
            height: 235px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;
            cursor: pointer;

            img {
                position: absolute;
            }

            h1 {
                position: relative;
                z-index: $z-over-img;
                text-align: center;
                font-size: 1.5rem;
            }
        }
        
    }
}