@import "../../app/variables.scss";

.section {
    width: 100%;
    padding: 70px 0;
    background: $main-yellow;

    @media only screen and (max-width: 757px) {
        padding: 20px 0;
    }

    ul {
        $z-over-img: 2;
        margin: 0 auto;
        list-style: none;
        width: 100%;

        a, .wrapper {
            text-decoration: none;
            color: $main-yellow;
            box-shadow: 0 15 $black;

            @media only screen and (max-width: 575px) {
                box-shadow: none;
            }


            li {
                display: block;
                width: 100%;
                height: 235px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 60px;
                cursor: pointer;

                @media only screen and (min-width: 768px) and (max-width: 991px) {
                    height: 150px;
                    margin-bottom: 40px;
                }
                @media only screen and (min-width: 576px) and (max-width: 767px) {
                    height: 150px;
                    margin-bottom: 25px;
                }

                @media only screen and (max-width: 575px) {
                    justify-content: flex-start;
                    padding-left: 35px;
                    height: 150px;
                    margin-bottom: 15px;
                }

                h1 {
                    position: relative;
                    z-index: $z-over-img;
                    text-align: center;
                    font-size: 1.3rem;

                    @media only screen and (max-width: 575px) {
                        max-width: 190px;
                    }
                }
            }
            
        }
    }
}

.modal-list {
    $z-over-img: 2;
    margin: 0 auto;
    list-style: none;
    width: 100%;

    a, .wrapper {
        text-decoration: none;
        color: $main-yellow;
        box-shadow: 0 15 0 0 #000;

        @media only screen and (max-width: 575px) {
            box-shadow: none;
        }

        li {
            display: block;
            width: 100%;
            height: 235px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;
            cursor: pointer;
            box-shadow: 0 15 0 0 #000;

            @media only screen and (min-width: 768px) and (max-width: 991px) {
                height: 150px;
            }
            @media only screen and (min-width: 576px) and (max-width: 767px) {
                height: 150px;
            }

            @media only screen and (max-width: 575px) {
                justify-content: flex-start;
                padding-left: 35px;
                height: 150px;
            }

            img {
                position: absolute;
                
                @media only screen and (min-width: 768px) and (max-width: 991px) {
                    height: 180px;
                }
                @media only screen and (min-width: 576px) and (max-width: 767px) {
                    height: 130px;
                }
            }

            h1 {
                position: relative;
                z-index: $z-over-img;
                text-align: center;
                font-size: 1.3rem;

                @media only screen and (max-width: 575px) {
                    max-width: 190px;
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) {
    .mobile {
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    .desktop {
        display: none;
    }
}