@import "../../../app/variables.scss";

.container {
    display: flex;
    gap: 20px;
    flex: 0 1 32%;
    align-items: center;
    margin-left: 20px;

    a:last-child {
        display: none;
    }
    
    a {
        text-decoration: none;
        color: $main-yellow;
        font-size: 1rem;

        &:last-child {
            display: block!important;
        }
    }

}

@media only screen and (max-width: 1199px) {
    .container {

        a:not(:last-child) {
            display: none;
        }
        
        a:last-child {
            display: block;
        }

        a svg {
            font-size: 1.5rem;
        }
    }
}

.phone {
    color: $main-yellow;
    font-size: 1.1rem;
    cursor: pointer;
}

.tooltip {
    background: transparent;
    border: none;
    font-size: 0.7rem;
    cursor: pointer;
    
    &:hover {
        text-decoration: underline;
    }
}

.tooltip-text {
    font-size: 0.7rem;
}