@import "../../app/variables.scss";

.section {
    padding: 50px 0;

    &.orange {
        background: $main-yellow;
    }

    &.grey {
        background: $main-grey;
    }
}

.title {
    margin-bottom: 50px;
    
    h3 {
        text-align: center;
        font-size: 1.1rem;
        font-weight: medium;
    }
}

.title-orange {
    color: $black;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    gap: 25px;

    @media (max-width: 1270px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.tab {
    flex: 1;
}
