@import "../../app/variables.scss";

.section {
    background: $main-yellow;
    color: $black;
    padding: 50px 0;

    h2 {
        margin-bottom: 55px;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;

    &.second {
        margin-top: 50px;
    }
}

.element {
    flex: 1;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        margin: 5px auto;
        display: block;
    }

    h3, p {
        font-size: 0.6em;
        text-align: center;
        line-height: 1.25;
    }

    h3 {
        margin-bottom: 25px;
    }

    p {
        font-weight: normal;
    }

    @media only screen and (min-width: 576px) and (max-width: 991px) {
        flex-basis: 45%;
        font-size: 25px;
    }

    @media only screen and (max-width: 575px) {
        flex-basis: 100%;
        font-size: 25px;
    }

}

.second {
    @media only screen and (max-width: 575px) {
        display: none;

        &.mobile-visible {
            display: flex;
        }
    }

    .element {
        p {
            max-width: 350px;
        }
    }
}

.more {
    display: none;
    
    @media only screen and (max-width: 575px) {
        display: block;
        margin: 40px auto 0;
        padding: 10px 20px;
        background: rgb(45, 45, 45) !important;
        font-size: 1rem;
        color: $white !important;
        box-shadow: 0 7px #282828 !important;
    }
}