@import "../../../app/variables.scss";

.container {
    color: $black;
    word-wrap: break-word;
    padding: 30px 50px;
    background: $main-yellow;
    box-shadow: 0 16px $shadow-orange;
    border-radius: 41px;
    margin: 0px 10px 17px;

    @media only screen and (min-width: 576px) and (max-width: 767px) {
        padding: 20px 35px;
        box-shadow: 0 10px $shadow-orange;
        border-radius: 30px;
    }

    @media only screen and (max-width: 575px) {
        padding: 15px 25px;
        box-shadow: 0 7px $shadow-orange;
        border-radius: 20px;
    }
}

.image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    img {
        border-radius: 50%;
        object-fit: cover;
    }
}

.info {
    
    p {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.26rem;

        @media only screen and (max-width: 575px) {
            font-size: 1.5rem;
        }
    }
}

.text-container {
    width: 100%;
    margin: 50px 0 20px;

    @media only screen and (min-width: 576px) and (max-width: 767px) {
        margin: 25px 0 20px;
    }

    @media only screen and (max-width: 575px) {
        margin: 15px 0 20px;
    }

    .text {
        text-align: center;
        font-size: 0.6rem;

        @media only screen and (min-width: 576px) and (max-width: 767px) {
            font-size: 0.85rem;
        }

        @media only screen and (max-width: 575px) {
            font-size: 1rem;
        }
    }
}

